.avatar {
    width: 3rem;  
    height: 3rem;
    border-radius: 8px;
}

.avatarWithBorder {
    /*box-sizing:  initial;  1 opção  as bordas são domadas com o tamanho do elemento ou pode usar o calc */
    width: calc(3rem + 12px);  /* 12 é a soma de todas as bordas*/
    height: calc(3rem + 12px);
    border-radius: 8px;
    border: 4px solid var(--gray-800);   /* borda interna */
    outline: 2px solid var(--green-500);   /* borda extertna */
}